/* src/components/preloader/style.module.scss */

.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the right */
  position: fixed;
  z-index: 99;
  background-color: #141516;
  padding-right: 20px; /* Add padding to the right */

  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
    path {
      fill: #141516;
    }
  }

  p {
    display: flex;
    color: white;
    font-size: 42px;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;

    .dot {
      display: block;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      margin-right: 10px;
    }

    .scrambleText {
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      margin: 0;
      padding: 0;
    }
  }
}
